# Maven
target/
*.class
*.jar
*.war



# IDE files
.idea/
.eclipse/
.vscode/
*.iml
*.classpath
*.project
*.settings/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Upload folder (resumes)
uploads/

